@using FESTUMKillerApp.Models;
@model LoginModel
@{
    ViewBag.Title = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <title>FESTUM login</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <link rel="icon" href="~/Resources/tab_plaatje.png">
</head>

<div class="container">
    <div class="login">
        <img src="~/Resources/FESTUM-logo.jpg"/>
        <form method="post">
            @ViewBag.error
            @Html.TextBoxFor(LoginModel => LoginModel.gebruikersnaam, new { @placeholder = "Gebruikersnaam", @required = "required", @class="input-txt" })
            @*<input type="text" name="user" placeholder="Username" required="required" class="input-txt" />*@
            @Html.PasswordFor(LoginModel => LoginModel.wachtwoord, new { @placeholder = "Wachtwoord", @required = "required", @class = "input-txt" })
            @*<input type="password" name="password" placeholder="Password" required="required" class="input-txt" />*@
            <div class="login-footer">
                <a href="@Url.Action("Registratie", "Home")" class="lnk">Registreren</a>
                <button type="submit" class="btn btn--right">Sign in</button>
            </div>
        </form>
    </div>
</div>