@using FESTUMKillerApp.Models
@model MaakFeestModel

@{
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>FESTUM</title>
    <link rel="stylesheet" href="~/Content/Site.css">
    <script class="jsbin" src="~/Scripts/_references.js"></script>
    <link rel="icon" href="~/Resources/tab_plaatje.png">
</head>

<body>
    <div class="plaatje-boven-nav">
        <img src="~/Resources/FESTUM-logo.jpg" />
    </div>
    <nav>
        <ul class="menu">
            <li><a href="~/Home/Main">home</a></li>
            <!-- products sub-menu -->
            <li>
                <a href="#">Feesten</a>
                <ul>
                    <li><a href="~/Home/ZoekFeest">Feesten zoeken</a></li>
                    <li><a href="~/Home/MaakFeest">Feest aanmaken</a></li>
                </ul>
            </li>
            <li><a href="#">Chats</a></li>
            <li><a href="#">Vrienden</a></li>
            <li>
                <a href="#">@Model.huidigeGebruiker.Gebruikersnaam</a>
                <ul>
                    <li><a href="#">Bekijk account</a></li>
                    <li><a href="~/Home/Index">Log uit</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div class="MaakFeest">
        <form method="post" enctype="multipart/form-data">
            <h1>Maak een nieuw feest aan</h1>
            @*@Html.EditorFor(MaakFeestModel => MaakFeestModel.aanTeMakenFeest.Naam, new { @type = "text", @name = "feestNaam", @placeholder = "De naam van het feest", @required = "required", @class="input-txt" })*@
            <input type="text" name="feestNaam" placeholder="De naam van het feest" required="required" class="input-txt" />
            <input type="text" name="adres" placeholder="Adres" required="required" class="input-txt" />
            <textarea type="text" rows="4" name="beschrijving" placeholder="Beschrijving van het feest" required="required" class="input-txt"></textarea>
            <input type="datetime-local" name="feestDatumTijd" class="input-txt" required="required">        
            @*@Html.TextBoxFor(MaakFeestModel => MaakFeestModel.aanTeMakenFeest.Naam)
            @Html.TextBoxFor(MaakFeestModel => MaakFeestModel.aanTeMakenFeest.Locatie)
            @Html.TextAreaFor(MaakFeestModel => MaakFeestModel.aanTeMakenFeest.Beschrijving)*@
            <input type="file" name="filename" accept="image/gif, image/jpeg, image/png" required="required" class="btn">
            <button type="submit" class="btn btn--right">Maak feest</button>
        </form>
    </div>
</body>
